@import "tailwindcss";
@plugin "daisyui" {
    exclude: scrollbar;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(76% 0.188 70.08);
    --color-primary-content: oklch(98% 0.022 95.277);
    --color-secondary: oklch(62% 0.265 303.9);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(72% 0.219 149.579);
    --color-accent-content: oklch(98% 0.018 155.826);
    --color-neutral: oklch(37% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);

    --bg-color1: rgba(0, 0, 80, 0.1);
    --bg-color2: rgba(36, 16, 40, 0.5);
    --bg-color3: rgba(10, 46, 40, 0.5);
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(92% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(68% 0.162 75.834);
    --color-primary-content: oklch(98% 0.026 102.212);
    --color-secondary: oklch(51% 0.262 276.966);
    --color-secondary-content: oklch(96% 0.018 272.314);
    --color-accent: oklch(64% 0.222 41.116);
    --color-accent-content: oklch(98% 0.016 73.684);
    --color-neutral: oklch(26% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(70% 0.165 254.624);
    --color-info-content: oklch(28% 0.091 267.935);
    --color-success: oklch(84% 0.238 128.85);
    --color-success-content: oklch(27% 0.072 132.109);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);

    --bg-color1: rgba(155, 255, 255, 0.1);
    --bg-color2: rgba(255, 155, 255, 0.9);
    --bg-color3: rgba(10, 46, 40, 0.9);
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* .recharts-rectangle.recharts-tooltip-cursor { */
/*     @apply fill-base-200; */
/* } */

.main-bg-gradient {
    background:
        linear-gradient(
            -45deg,
            var(--bg-color1),
            var(--bg-color2),
            var(--bg-color1),
            var(--bg-color3),
            var(--bg-color1)
        ),
        repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.5), transparent 50px),
        repeating-linear-gradient(-45deg, black, transparent 50px);
    background-size: 200% 200%;
    animation: bg-gradient 120s cubic-bezier(0.85, 0, 0.15, 1) infinite alternate;

    -webkit-mask:
        linear-gradient(to top, transparent 20%, #fff 40% 60%, transparent 90%),
        linear-gradient(to left, transparent 0%, #fff 10% 90%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: intersect;

    mask:
        linear-gradient(to top, transparent 0%, #fff 40% 60%, transparent 100%),
        linear-gradient(to left, transparent 0%, #fff 10% 90%, transparent 100%);
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-composite: intersect;
}

@keyframes bg-gradient {
    0% {
        background-position: 25% 50%;
    }

    100% {
        background-position: 85% 50%;
    }
}


.tooltip::before {
    z-index: 1000;
}
